<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">

<!-- @@ start change in v2 -->
<title>AngularJS Tutorial: The Basics</title>
<link rel="stylesheet" href="../css/programming_notes_v2.css">
<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
</head>

<body>

<div id="wrap-outer">

<!-- header filled by JavaScript -->
<div id="header" class="header-footer"><p>&nbsp;</p></div>

<div id="wrap-inner">

<div id="wrap-toc">
<h5>Table of Contents <a id="show-toc" href="AngularJS_Basics.html#show-toc">(Hide)</a></h5>
<div id="toc"></div>  <!-- for showing the "Table of Content" -->
</div>

<div id="content-header">
<h1>AngularJS Basics</h1>
<h2>(Not for the dummies)</h2>
</div>

<div id="content-main">

<!-- @@ end change in v2 -->

<h3>Introduction</h3>
<p>AngularJS (@ <a href="https://angularjs.org/">https://angularjs.org/</a>) is a client-side JavaScript MVC (Model-View-Controller) Framework meant for implementing Single Page Architecture (SPA), maintained by Google and released in October 2010.</p>

<p>AngularJS is meant to replace jQuery, which is a simple but popular JavaScript library. AngularJS is more powerful than jQuery. However, it is much more difficult to learn and use, hence, not as popular as jQuery. jQuery also has a huge installed base with thousands of plug-ins to extend it functions.</p>

<p>The main features of AngularJS are:</p>
<ul>
<li>MVC (Model-View-Controller) Framework: separating model, view and controller.</li>
<li>Single Page Application (SPA) Framework: via routing with multiple views to update a portion of a page (also via AJAX POST request with JSON payload).</li>
<li>Facilitate unit testing and end-to-end testing.</li>
</ul>

<p>This results in fewer lines, less boilerplate, cleaner, reusable and testable codes.</p>

<p>AngularJS, combined with Bootstrap, lets you rapidly build webapp front-end that uses RESTful web services at the backend, for both desktops and mobile devices.</p>

<p>[TODO] more</p>


<h3>Installation</h3>

<p>The core AngularJS is a JavaScript file called <code>angular.js</code> (or the minified version <code>angular.min.js</code>) which can be downloaded from <a href="https://angularjs.org/">https://angularjs.org/</a> and included in your HTML files. Alternatively, you can use a copy provided by a CDN (Context Distribution Network).</p>

<h5>AngularJS Template</h5>

<table class="table-program">
<col class="col-line-number" />
<col class="col-program" />
<tbody>
<tr>
<td>
<pre class="text-right">
1
2
3
4
5
6
7
8
9
10
11
12</pre>
</td>
<td>
<pre>
&lt;!DOCTYPE html&gt;
<span class="comment">&lt;!-- ngTemplate.html --&gt;</span>
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
&lt;meta charset=&quot;utf-8&quot;&gt;
&lt;title&gt;YOUR TITLE HERE&lt;/title&gt;
&lt;/head&gt;
&lt;body&gt;
&lt;p&gt;Hello, world&lt;/p&gt;
<span class="new">&lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js&quot;&gt;&lt;/script&gt;</span>
&lt;/body&gt;
&lt;/html&gt;</pre>
</td>
</tr>
</tbody>
</table>

<h5>How It Works?</h5>
<ol>
<li>Include the minified <code>angular.min.js</code> (or <code>angular.js</code>) under a <code>&lt;script&gt;</code> HTML tag. In the above example, I used the Google's CDN, but you can also serve your local copy.</li>

<li>You can place the <code>&lt;script&gt;</code> tag in the <code>&lt;head&gt;</code> section; or just before the end of body section (<code>&lt;/body&gt;</code>) for better responsiveness.</li>
</ol>

<h3>AngularJS By Examples</h3>

<p>I assume that you know HTML5/CSS3 and JavaScript. If not, read those up first!!!</p>

<h4>Example 1: Data Binding</h4>

<h5 class="code">ngEg_DataBind.html</h5>

<table class="table-program">
<col class="col-line-number" />
<col class="col-program" />
<tbody>
<tr>
<td>
<pre class="text-right">
1
2
3
4
5
6
7
8
9
10
11
12
13
14</pre>
</td>
<td>
<pre>
&lt;!DOCTYPE html&gt;
<span class="comment">&lt;!-- ngEg_DataBind.html --&gt;</span>
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
&lt;meta charset=&quot;utf-8&quot;&gt;
&lt;title&gt;AngularJS Example: Data Binding&lt;/title&gt;
&lt;/head&gt;
&lt;body <span class="new">ng-app</span>&gt;
&lt;input type=&quot;text&quot; <span class="new">ng-model=&quot;yourName&quot;</span> placeholder=&quot;Enter your name&quot;&gt;
&lt;p&gt;Hello, <span class="new">&lt;span ng-bind=&quot;yourName&quot;&gt;&lt;/span&gt;</span>&lt;/p&gt;
&lt;p&gt;Hello again, <span class="new">{{ yourName }}</span>&lt;/p&gt;
&lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js&quot;&gt;&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
</td>
</tr>
</tbody>
</table>

<p>Load the HTML file on a web browser (e.g., Chrome, Firefox). Enter something on the input text field, and observe the results.</p>

<h5>How It Works?</h5>

<ol>
<li>In line 8, we bind the DOM element <code>body</code> as an AngularJS app module via a custom HTML attribute <code>ng-app</code>. (You can also use <code>data-ng-app</code>. The <code>ng-app</code> will fail HTML5 validation, as HTML5 does not define such an attribute. On the other hand, HTML5 defines <code>data-*</code> as so-called custom attributes, which will not be validated.)</li>

<li>AngularJS binds to HTML DOM elements via <code>ng-*</code> custom attributes, known as <code>ng-</code>directives. In this example, we use:
<ul>
<li><code>ng-app</code>: bind the DOM element to an AngularJS app module (Line 8).</li>
<li><code>ng-model</code>: define a variable name (or data model name) and bind to the value of the HTML controls (in this example, the <code>&lt;input type='text'&gt;</code> field) (Line 9).</li>
<li><code>ng-bind</code>: bind the DOM element's content (or <code>innerHTML</code>) to a <code>ng-model</code> (Line 10).</li>
</ul>
</li>

<li>This example illustrates <em>data binding</em> between the value of an input field and the content of a DOM element. We named the input field via an HTML attribute <code>ng-model</code> (Line 9). We then bind the input value to the content of a DOM element via <code>ng-bind</code> (Line 10). Once bound, whenever the input value changes, AngularJS updates the bound element and refreshes the UI.</li>

<li>AngularJS further simplifies the binding syntax to <code>{{ ... }}</code> (Line 11). This is known as AngularJS's <em>expression</em>, which can be used to evaluate any <strong>JavaScript</strong> expression (AngularJS is JavaScript!) containing literals, objects, arrays, operators, variables and methods. For example <code>{{ 1 + 2 + 3 }}</code>, <code>{{ &quot;Hello&quot; + &quot;, &quot; + &quot;world&quot; }}</code>.</li>
</ol>

<h4>Example 2: Controller</h4>

<p>An controller can be used to control the application, such as binding values to views.</p>

<h5 class="code">ngEg_Controller.html</h5>

<table class="table-program">
<col class="col-line-number" />
<col class="col-program" />
<tbody>
<tr>
<td>
<pre class="text-right">
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32</pre>
</td>
<td>
<pre>
&lt;!doctype html&gt;
<span class="comment">&lt;!-- ngEg_Controller.html --&gt;</span>
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
  &lt;title&gt;Example: AngularJS Controller&lt;/title&gt;
&lt;/head&gt;
 
&lt;body <span class="new">ng-app=&quot;myApp&quot; ng-controller=&quot;myCtrl&quot;</span>&gt;
  &lt;h1&gt;Hello, <span class="new">{{ name }}</span>&lt;/h1&gt;
  &lt;button <span class="new">ng-click=&quot;click()&quot;</span>&gt;Click Me!&lt;/button&gt;
 
&lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js&quot;&gt;&lt;/script&gt;
&lt;script&gt;
<span class="comment">// Define an AngularJS app module</span>
<span class="new">var app = angular.module('myApp', []);
 
<span class="comment">// Define the controller for this app module</span>
app.controller('myCtrl', function($scope) {
   $scope.name = &quot;Peter&quot;;
 
   $scope.click = function() {
      if ($scope.name == &quot;Peter&quot;) {
         $scope.name = &quot;Paul&quot;;
      } else {
         $scope.name = &quot;Peter&quot;;
      }
   }
});</span>
&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
</td>
</tr>
</tbody>
</table>

<h5>How It Works?</h5>

<ol>
<li>In this example, we attach an AngularJS app to the DOM element <code>body</code> and named it <code>myApp</code> (Line 9). The name is needed for referencing the app.</li>
 
<li>We also attach a controller called <code>myCtrl</code> via <code>ng-controller</code> (Line 9). We will use the controller to manipulate AngularJS variables and define event handling functions.</li>

<li>In Line 16, we construct our AngularJS app (<code>myApp</code>), which does not have any dependencies (empty array).</li>

<li>In Line 19, we setup the controller (<code>myCtrl</code>) via <code>app.controller(controller-name, controller-function)</code>. A controller must belong to an app. We inject the <code>$scope</code> object into the controller, which contains all the variables and methods of this app module. We can then use <code>$scope.varname</code> to bind to AngularJS variable <code>varname</code> in the HTML view (Line 20).</li>

<li><strong>Dependency Injection</strong>: AngularJS invokes the controller function via an <em>injector</em>, which is responsible to inject the <code>$scope</code> object (having the same name as the function parameter) into the controller function. This follows the design pattern called <em>Dependency Injection (DI)</em>.  There are 3 ways to annotate dependencies:

<ol>
<li>Using Inline Array Annotation (the preferred way): e.g.,
<pre class="command">
app.controller('myCtrl', ['$scope', '$http', function($scope, $http) {...}]);</pre>
Use an array consisting of a list of dependency names (in string) followed by the function. The order of the dependency names corresponding to the order of the function parameters.</li>
<li>Using <code>$inject</code> Annotation: e.g.,
<pre class="command">
var myCtrl = function($scope, $http) {...};
myCtrl.$inject = ['$scope', '$http'];
myApp.controller('myCtrl', myCtrl);</pre></li>
<li>Using Implicit Annotation: the simplest where the dependency names are the same as the function parameters, as in this example. However, you CANNOT minify your codes, if you use implicit annotation, as the dependency names will get renamed.</li>
</ol>
</li>

<li>The <code>$scope</code> binds the HTML View and the JavaScript Controller. The <code>$scope</code> is a JavaScript object containing variables and methods. Inside the JavaScript Controller, you must use <code>$scope.attr-name</code>; while in HTML view, you simply use <code>attr-name</code>.</li>

<li>In Line 11, we attach a event handling function <code>click()</code> to the button via <code>ng-click</code>. We then define the function inside the controller via <code>$scope.click = function() {...}</code> (Line 22).</li>
</ol>


<h4>Example 3: Two-way Data Binding and Filters</h4>

<table class="table-program">
<col class="col-line-number" />
<col class="col-program" />
<tbody>
<tr>
<td>
<pre class="text-right">
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28</pre>
</td>
<td>
<pre>
&lt;!DOCTYPE html&gt;
<span class="comment">&lt;!-- ngEg_DataBind2.html --&gt;</span>
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
&lt;meta charset=&quot;utf-8&quot;&gt;
&lt;title&gt;AngularJS Example: 2-way Binding&lt;/title&gt;
&lt;/head&gt;
 
&lt;body <span class="new">ng-app=&quot;myApp&quot; ng-controller=&quot;myCtrl&quot;</span>&gt;
  &lt;input type=&quot;text&quot; <span class="new">ng-model=&quot;name&quot;</span> placeholder=&quot;Enter your name&quot;&gt;
  &lt;p&gt;Hello, <span class="new">{{ name | uppercase }}</span>&lt;/p&gt;
  &lt;button <span class="new">ng-click=&quot;click()&quot;</span>&gt;Click Me!&lt;/button&gt;
 
&lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js&quot;&gt;&lt;/script&gt;
&lt;script&gt;
<span class="comment">// Define an AngularJS app module</span>
<span class="new">var app = angular.module('myApp', []);
 
<span class="comment">// Define the controller for this app module</span>
app.controller('myCtrl', ['$scope', function($scope) {  <span class="comment"> // Using Inline Array Annotation for DI</span>
  <span class="comment"> // Modify the variable, onclick</span>
   $scope.click = function() {
      $scope.name = &quot;Peter&quot;;
   }
}]);</span>
&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
</td>
</tr>
</tbody>
</table>

<h5>How It Works?</h5>

<ol>
<li>In Line 10, we use <code>ng-model</code> to bind the value of the input control to the variable <code>name</code>.</li>

<li>In Line 11, we use the expression to bind the value of the variable <code>name</code> to the DOM element. Whenever the value of the input control changes, the content of the bound DOM element also changes.</li>

<li>The binding is <em>two-way</em>. When the value of the variable changes (thru the <code>click()</code> function), the value of the input control also changes.</li>
</ol>

<h5>AngularJS Filters</h5>

<p>You can apply filter to format data for display in an expression via the pipe <code>'|'</code> symbol, e.g., <code>{{ name | uppercase }}</code> (Line 11).</p>

<p>The frequently-used filters are:</p>
<ul>
<li><code>uppercase</code>, <code>lowercase</code></li>
<li><code>currency</code>, <code>date</code>, <code>number</code>:</li>
<li><code>json</code>: format an JavaScript object to a JSON string</li>
</ul>


<h4>Example 4: <span class="code">ng-repeat</span> and more Filters</h4>

<table class="table-program">
<col class="col-line-number" />
<col class="col-program" />
<tbody>
<tr>
<td>
<pre class="text-right">
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46</pre>
</td>
<td>
<pre>
&lt;!doctype html&gt;
<span class="comment">&lt;!-- ngEg_repeat.html --&gt;</span>
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
  &lt;title&gt;Example: AngularJS ng-repeat&lt;/title&gt;
&lt;/head&gt;
 
&lt;body <span class="new">ng-app=&quot;myApp&quot; ng-controller=&quot;myCtrl&quot;</span>&gt;
  &lt;h1&gt;My Cafe&lt;/h1&gt;
  &lt;ol&gt;
    <span class="comment">&lt;!-- Apply AngularJS filter 'currency' --&gt;</span>
    &lt;li <span class="new">ng-repeat=&quot;item in cafe&quot;</span>&gt;<span class="new">{{ item.desc + ', ' + (item.price | currency) }}</span>&lt;/li&gt;
  &lt;/ol&gt;
  &lt;hr&gt;
  &lt;ol&gt;
    <span class="comment">&lt;!-- Apply AngularJS filter 'orderBy' --&gt;</span>
    &lt;li <span class="new">ng-repeat=&quot;item in cafe | orderBy:'price'&quot;</span>&gt;<span class="new">{{ item.desc + ', ' + item.price }}</span>&lt;/li&gt;
  &lt;/ol&gt;
  &lt;hr&gt;
  &lt;ol&gt;
    <span class="comment">&lt;!-- Apply AngularJS filter 'limitTo' --&gt;</span>
    &lt;li <span class="new">ng-repeat=&quot;item in cafe | limitTo:'2'&quot;</span>&gt;<span class="new">{{ item.desc + ', ' + item.price }}</span>&lt;/li&gt;
  &lt;/ol&gt;
  &lt;hr&gt;
  &lt;ol&gt;
    <span class="comment">&lt;!-- Apply AngularJS filter 'filter' to search for item containing 'p' --&gt;</span>
    &lt;li <span class="new">ng-repeat=&quot;item in cafe | filter:'p'&quot;</span>&gt;<span class="new">{{ item.desc + ', ' + item.price }}</span>&lt;/li&gt;
  &lt;/ol&gt;
 
&lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js&quot;&gt;&lt;/script&gt;
&lt;script&gt;
<span class="comment">// Define an AngularJS app module</span>
<span class="new">var app = angular.module('myApp', []);
 
<span class="comment">// Define the controller for this app module</span>
app.controller('myCtrl', ['$scope', function($scope) {
   $scope.cafe = [
      {desc: 'Cappuccino', price: 3.29},
      {desc: 'Cafe Latte', price: 3.99},
      {desc: 'Espresso', price: 3.19}
   ];
}]);</span>
&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
</td>
</tr>
</tbody>
</table>

<h5>How It Works?</h5>

<ol>
<li>[TODO]</li>
</ol>


<h4>Example 5: Form and Input Validation</h4>

<table class="table-program">
<col class="col-line-number" />
<col class="col-program" />
<tbody>
<tr>
<td>
<pre class="text-right">
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45</pre>
</td>
<td>
<pre>
&lt;!doctype html&gt;
<span class="comment">&lt;!-- ngEg_Form.html --&gt;</span>
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
  &lt;title&gt;Example: AngularJS Form and Input Validation&lt;/title&gt;
&lt;/head&gt;
 
&lt;body <span class="new">ng-app=&quot;myApp&quot; ng-controller=&quot;myCtrl&quot;</span>&gt;
  &lt;form name=&quot;thisForm&quot; novalidate <span class="new">ng-submit=&quot;thisForm.$dirty &amp;&amp; thisForm.$valid &amp;&amp; submit()&quot;</span>&gt;
    &lt;label for=&quot;username&quot;&gt;Username:&lt;/label&gt;
    &lt;input type=&quot;text&quot; id=&quot;username&quot; name=&quot;username&quot; <span class="new">ng-model=&quot;user&quot; required</span>&gt;&lt;br&gt;
    <span class="comment">&lt;!-- Display error message, if any (reference via 'name' attribute) --&gt;</span>
    <span class="new">&lt;div ng-show=&quot;thisForm.username.$touched &amp;&amp; thisForm.username.$invalid&quot;&gt;
       &lt;span ng-show=&quot;thisForm.username.$error.required&quot;&gt;This field is required&lt;/span&gt;
    &lt;/div&gt;</span>
 
    &lt;label for=&quot;password&quot;&gt;Password:&lt;/label&gt;
    &lt;input type=&quot;password&quot; name=&quot;password&quot; <span class="new">ng-model=&quot;passwd&quot; required ng-pattern=&quot;/[a-zA-Z]{4,16}/&quot;</span>&gt;&lt;br&gt;
    <span class="new">&lt;div ng-show=&quot;thisForm.password.$touched &amp;&amp; thisForm.password.$invalid&quot;&gt;
       &lt;span ng-show=&quot;thisForm.password.$error.required&quot;&gt;This field is required&lt;/span&gt;
       &lt;span ng-show=&quot;thisForm.password.$error.pattern&quot;&gt;4 to 16 letters&lt;/span&gt;
    &lt;/div&gt;</span>
 
    &lt;input type=&quot;submit&quot;&gt;
  &lt;/form&gt;
  &lt;hr /&gt;
  &lt;div &gt;<span class="new">{{ message }}</span>&lt;/div&gt;
 
&lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js&quot;&gt;&lt;/script&gt;
&lt;script&gt;
<span class="comment">// Define an AngularJS app</span>
<span class="new">var app = angular.module('myApp', []);
 
<span class="comment">// Define the controller</span>
app.controller('myCtrl', ['$scope', '$http', function($scope, $http) {
   $scope.message = &quot;Testing AngularJS&quot;;
   $scope.submit = function() {
      console.log(&quot;submitting ajax post...&quot;);
      <span class="comment">// To submit an AJAX POST request with JSON payload</span>
   };
}]);</span>
&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
</td>
</tr>
</tbody>
</table>

<h5>How It Works?</h5>

<ol>
<li>In Line 9, we attach an AngularJS app module (called <code>myApp</code>) and controller (called <code>myCtrl</code>) to the DOM element <code>body</code>. Line 33 defines the app module and Line 36 defines the controller function.</li>

<li>AngularJS can perform client-side input validation. In Line 10, we disable HTML5 validation via attribute <code>novalidate</code> (we let AngularJS to do validation).</li>

<li>For the <code>'username'</code> field, the validator <code>required</code> is applied (Line 12). In Line 14-16, the boolean attribute <code>ng-show</code> is used to display the error messages only if error occurs. The input field is referenced via the <code>form-name.field-name</code> (using the <code>name</code> attribute instead of <code>id</code> attribute?!) For fields, <code>$touch</code> (Line 14) is true if the field has gain and lost focus; <code>$invalid</code> (Line 14) is true if validation fails. <code>$error.required</code> (Line 15) is true if validator <code>required</code> fails.</li>

<li>For the <code>'password'</code> field, two validators are specified: <code>required</code> and a regular expression (4-16 characters of a-z or A-Z) via <code>ng-pattern</code> (Line 19). In Line 20-22, the boolean attribute <code>ng-show</code> is used to display the error messages only if error occurs.</li>

<li>To disable 'submit' if input validation fails, we check the <code>$dirty</code> (at least one of the fields have been changed) and <code>$valid</code> (all validations for all fields pass) before invoking the <code>submit()</code> function (Line 10).</li>

</ol>

<h4>Example 6: Using <span class="code">ngMessages</span> to display error messages</h4>

<p>You can use add-on module <code>ngMessages</code> to simplify the display of error messages, e.g.,</p>

<table class="table-program">
<col class="col-line-number" />
<col class="col-program" />
<tbody>
<tr>
<td>
<pre class="text-right">
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46</pre>
</td>
<td>
<pre>
&lt;!doctype html&gt;
<span class="comment">&lt;!-- ngEg_ngMessage.html --&gt;</span>
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
  &lt;title&gt;Example: Using 'ngMessages' module to display error messages&lt;/title&gt;
&lt;/head&gt;
 
&lt;body ng-app=&quot;myApp&quot; ng-controller=&quot;myCtrl&quot;&gt;
  &lt;form name=&quot;thisForm&quot; novalidate ng-submit=&quot;thisForm.$dirty &amp;&amp; thisForm.$valid &amp;&amp; submit()&quot;&gt;
    &lt;label for=&quot;username&quot;&gt;Username:&lt;/label&gt;
    &lt;input type=&quot;text&quot; id=&quot;username&quot; name=&quot;username&quot; ng-model=&quot;user&quot; required&gt;&lt;br&gt;
    &lt;!-- Display error message, if any (reference via 'name' attribute) --&gt;
    <span class="new">&lt;div ng-messages=&quot;thisForm.username.$error&quot; ng-if=&quot;thisForm.username.$touched&quot;&gt;
      &lt;p ng-message=&quot;required&quot;&gt;This field is required.&lt;/p&gt;
    &lt;/div&gt;</span>
 
    &lt;label for=&quot;password&quot;&gt;Password:&lt;/label&gt;
    &lt;input type=&quot;password&quot; name=&quot;password&quot; ng-model=&quot;passwd&quot; required ng-pattern=&quot;/[a-zA-Z]{4,16}/&quot;&gt;&lt;br&gt;
    <span class="new">&lt;div ng-messages=&quot;thisForm.password.$error&quot; ng-if=&quot;thisForm.password.$touched&quot;&gt;
      &lt;p ng-message=&quot;pattern&quot;&gt;4 to 16 letters.&lt;/p&gt;
      &lt;p ng-message=&quot;required&quot;&gt;This field is required.&lt;/p&gt;
    &lt;/div&gt;</span>
 
    &lt;input type=&quot;submit&quot;&gt;
  &lt;/form&gt;
  &lt;hr /&gt;
  &lt;div &gt;{{ message }}&lt;/div&gt;
 
&lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js&quot;&gt;&lt;/script&gt;
<span class="new">&lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular-messages.js&quot;&gt;&lt;/script&gt;</span>
&lt;script&gt;
<span class="comment">// Define an AngularJS app</span>
app = angular.module('myApp', ['ngMessages']);
 
<span class="comment">// Define the controller</span>
app.controller('myCtrl', ['$scope', '$http', function($scope, $http) {
   $scope.message = &quot;Testing AngularJS&quot;;
   $scope.submit = function() {
      console.log(&quot;submitting ajax post...&quot;);
     <span class="comment"> // To submit an AJAX POST request with JSON payload</span>
   };
}]);
&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
</td>
</tr>
</tbody>
</table>

<h5>How It Works?</h5>

<ol>
<li>The AngularJS module <code>ngMessages</code> is provided in separate JavaScript file and need to be loaded (Line 31).</li>
<li>The highlight lines show how to use 'ngMessages'. We further use a <code>'ng-if</code> to check if the field has been touched.</li>
</ol>


<h4>Example 7: AJAX POST via <span class="code">$http</span> Service (Server Required)</h4>

<p>To implement Single Page Architecture (SPA), AngularJS sends AJAX request (with JSON payload) to the server (usually via Restful web service API). It then receives response (with JSON data) and update the appropriate DOM element of the page, instead of reloading the entire page.</p>

<h5>Client-side Program: <span class="code">ngEx_Ajax.html</span></h5>
<table class="table-program">
<col class="col-line-number" />
<col class="col-program" />
<tbody>
<tr>
<td>
<pre class="text-right">
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64</pre>
</td>
<td>
<pre>
&lt;!doctype html&gt;
<span class="comment">&lt;!-- ngEg_Ajax.html --&gt;</span>
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
  &lt;title&gt;Example: AngularJS Ajax POST&lt;/title&gt;
&lt;/head&gt;
 
&lt;body <span class="new">ng-app=&quot;myApp&quot; ng-controller=&quot;myCtrl&quot;</span>&gt;
  &lt;h1&gt;Hello,&lt;/h1&gt;
 
  &lt;form name=&quot;thisForm&quot; novalidate <span class="new">ng-submit=&quot;thisForm.$dirty &amp;&amp; thisForm.$valid &amp;&amp; submit()&quot;</span>&gt;
     Username: &lt;input type=&quot;text&quot; name=&quot;username&quot; <span class="new">ng-model=&quot;user&quot; required ng-pattern=&quot;/[a-zA-Z]{4,16}/&quot;</span>&gt;&lt;br&gt;
     <span class="comment">&lt;!-- Display error message, if any (reference via 'name' attribute) --&gt;</span>
     <span class="new">&lt;div ng-show=&quot;thisForm.username.$touched &amp;&amp; thisForm.username.$invalid&quot;&gt;
        &lt;span ng-show=&quot;thisForm.username.$error.required&quot;&gt;This field is required&lt;/span&gt;
        &lt;span ng-show=&quot;thisForm.username.$error.pattern&quot;&gt;4 to 16 letters&lt;/span&gt;
     &lt;/div&gt;</span>
     &lt;input type=&quot;submit&quot;&gt;
  &lt;/form&gt;
  &lt;hr /&gt;
  &lt;div &gt;<span class="new">{$ message $}</span>&lt;/div&gt;
 
&lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js&quot;&gt;&lt;/script&gt;
&lt;script&gt;
<span class="comment">// Define an AngularJS app</span>
<span class="new">var app = angular.module('myApp', []);
 
<span class="comment">// Change the delimiters for AngularJS to {$ ... $}</span>
app.config(function($interpolateProvider) {
    $interpolateProvider.startSymbol('{$').endSymbol('$}');
});
 
<span class="comment">// Define the controller</span>
app.controller('myCtrl', ['$scope', '$http', function($scope, $http) {
   $scope.message = &quot;Testing AngularJS&quot;;
 
   $scope.submit = function() {
     <span class="comment"> // Send an AJAX POST request with JSON payload for submit</span>
      console.log(&quot;submitting ajax post...&quot;);
      $http({
         method: 'POST',
         url: '/',
         data: {
            user: $scope.user <span class="comment"> // $http handles jsonify</span>
         },
         headers: {
            'X-Requested-With': 'XMLHttpRequest',             <span class="comment">// AJAX request</span> 
            'Content-Type': 'application/json;charset=utf-8'  <span class="comment">// JSON payload</span>
         }
      }).then(function success(response) {  <span class="comment">// Response status code 2xx and 3xx</span>
            console.log(&quot;success&quot;);
            <span class="comment">// response.status keeps the numeric status code</span>
            <span class="comment">// response.data keeps the return JSON data from the server</span>
            $scope.message = response.status + &quot;: &quot; + JSON.stringify(response.data);
         }, function error(response) {      <span class="comment">// Response status code 4xx and 5xx</span>
            console.log(&quot;error&quot;);
            $scope.message = response.status + &quot;: &quot; + JSON.stringify(response.data);
         });
   };
}]);</span>
&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
</td>
</tr>
</tbody>
</table>

<h5>How It Works?</h5>

<ol>
<li>In Line 9, we attach an AngularJS app module (called <code>myApp</code>) and controller (called <code>myCtrl</code>) to the DOM element <code>body</code>. Line 27 defines the app module and Line 35 defines the controller function.</li>

<li>In Line 30, we change the AngularJS expression from the default <code>{{ expression }}</code> to <code>{$ expression $}</code> (because it crashes with our server-side template notation).</li>

<li>In Line 35, we inject both <code>$scope</code> object and <code>$http</code> service into the controller. <code>$scope</code> object is used to access all the variables and methods; while <code>$http</code> service is used to send an HTTP request, in this case, a AJAX POST request with JSON payload.  In Line 47, we added header <code>'X-Requested-With': 'XMLHttpRequest'</code> to denote AJAX request, and <code>'Content-Type': 'application/json;charset=utf-8'</code> to specify the request payload MIME type.</li>

<li>In Line 51, the <code>.then()</code> defines two functions: a success function (triggered by response status code of 2xx and 3xx) and a failure function (for response status code of 4xx and 5xx).</li>

<li>AngularJS can perform client-side input validation. In Line 12, we disable HTML5 validation via attribute <code>novalidate</code> (we let AngularJS to do validation).</li>

<li>Two validators are specified: <code>required</code> and a regular expression (4-16 characters of a-z or A-Z) via <code>ng-pattern</code> (Line 13). In Line 15-17, the boolean attribute <code>ng-show</code> is used to display the error messages only if error occurs. The input field is referenced via the <code>form-name.field-name</code> (using the <code>name</code> attribute instead of <code>id</code> attribute?!) For fields, <code>$touch</code> (Line 15) is true if the field has gain and lost focus; <code>$invalid</code> (Line 15) is true if validation fails. <code>$error.required</code> (Line 16) is true if validator <code>required</code> fails; <code>$error.pattern</code> (Line 17) is true if validator <code>ng-pattern</code> fails.</li>

<li>To disable submit if validation fails, we check <code>$dirty</code> (at least one of the fields has been changed) and <code>$valid</code> (all validations for all fields pass) before invoking the <code>submit()</code> function (Line 11).</li>

</ol>


<h5>Server-side Program: <span class="code">ngEx_Ajax.py</span></h5>
<p>This server side program was written in Python Flask to process the AJAX POST request. You can use any server-side technologies to process the AJAX POST request.</p>

<table class="table-program">
<col class="col-line-number" />
<col class="col-program" />
<tbody>
<tr>
<td>
<pre class="text-right">
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22</pre>
</td>
<td>
<pre>
<span class="comment">&quot;&quot;&quot;ngEx_Ajax.py&quot;&quot;&quot;</span>
from flask import Flask, render_template, request
 
app = Flask(__name__)
 
@app.route(&quot;/&quot;, methods=['GET', 'POST'])
def main():
    if request.method == 'POST' and request.is_xhr:  <span class="comment"># AJAX POST request?</span>
        json_data = request.get_json()   <span class="comment"># Get POST JSON payload</span>
        print(&quot;json: &quot; + str(json_data))
 
        username = json_data.get('user')
        if username == 'Peter':
            return &quot;Your are Peter&quot;, 200      <span class="comment"># Success</span>
        else:
            return &quot;Your are NOT Peter&quot;, 400  <span class="comment"># Failure</span>
 
    <span class="comment"># For the initial GET request to render the page</span>
    return render_template('ngEg_Ajax.html')
 
if __name__ == &quot;__main__&quot;:
    app.run(debug=True)</pre>
</td>
</tr>
</tbody>
</table>

<h5>How It Works?</h5>

<ol>
<li>[TODO]</li>
</ol>

<h4>Example 8: Routing and Multiple Views in SPA</h4>

<p>Routing is crucial in the implementation of Single Page Architecture (SPA) with multiple views rendered on a single page.</p>

<h5 class="code">ngEg_routeCtrl.html</h5>

<table class="table-program">
<col class="col-line-number" />
<col class="col-program" />
<tbody>
<tr>
<td>
<pre class="text-right">
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43</pre>
</td>
<td>
<pre>
&lt;!doctype html&gt;
<span class="comment">&lt;!-- ngEg_routeCtrl.html --&gt;</span>
&lt;html lang=&quot;en&quot;&gt;
&lt;head&gt;
  &lt;meta charset=&quot;utf-8&quot;&gt;
  &lt;title&gt;Example: AngularJS Routing and Multiple Views&lt;/title&gt;
&lt;/head&gt;
 
&lt;body <span class="new">ng-app=&quot;myApp&quot;</span>&gt;
&lt;ul&gt;
&lt;li&gt;&lt;a href=&quot;<span class="new">#!/</span>&quot;&gt;Main&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href=&quot;<span class="new">#!/1</span>&quot;&gt;One&lt;/a&gt;&lt;/li&gt;
&lt;li&gt;&lt;a href=&quot;<span class="new">#!/2</span>&quot;&gt;Two&lt;/a&gt;&lt;/li&gt;
&lt;/ul&gt;
&lt;p&gt;&lt;/p&gt;
 
&lt;div <span class="new">ng-view</span>&gt;&lt;/div&gt;
 
&lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/angular.min.js&quot;&gt;&lt;/script&gt;
&lt;script src=&quot;https://ajax.googleapis.com/ajax/libs/angularjs/1.6.3/<span class="new">angular-route.js</span>&quot;&gt;&lt;/script&gt;
&lt;script&gt;
<span class="comment">// Define an AngularJS app module</span>
<span class="new">var app = angular.module('myApp', ['ngRoute']); <span class="comment"> // depends on 'ngRoute' module</span>
 
<span class="comment">// Define the url-route/view for rendering in DOM element marked with 'ng-view'</span>
app.config(['$locationProvider', '$routeProvider', function($locationProvider, $routeProvider) {
    $locationProvider.hashPrefix('!');   <span class="comment"> // Relative URL is: #!/some/path</span>
 
    $routeProvider
    .when(&quot;/&quot;, {     <span class="comment"> // #!/</span>
        templateUrl: &quot;ngEg_route0.html&quot;  <span class="comment"> // Relative to current folder</span>
    })
    .when(&quot;/1&quot;, {    <span class="comment"> // #!/1</span>
        templateUrl: &quot;ngEg_route1.html&quot;
    })
    .when(&quot;/2&quot;, {    <span class="comment"> // #!/2</span>
        templateUrl: &quot;ngEg_route2.html&quot;
    })
    .otherwise(&quot;/&quot;); <span class="comment"> // #!/</span>
}]);</span>
&lt;/script&gt;
&lt;/body&gt;
&lt;/html&gt;</pre>
</td>
</tr>
</tbody>
</table>

<h5>How It Works?</h5>

<ol>
<li>Routing is provided via a separate AngularJS module called <code>ngRoute</code> (in <code>angular-route.js</code>), that needs to be linked to the HTML page separately (Line 20).</li>

<li>The <code>$routeProvider.when()</code> defines the URL routes and their views (<code>templateUrl</code>). The <code>$routeProvider.otherwise()</code> defines the default view. The page in <code>templateUrl</code> will be rendered in DOM element marked with <code>ng-view</code>.</li>

<li>The <code>$locationProvider.hashPrefix('!')</code> sets the url prefix (after the <code>#</code>, which references an anchor point inside an HTML page). As the result, the url route <code>'/1'</code> (marked by <code>$routeProvider</code>) is to be referenced as <code>'#!/1'</code> (in <code>&lt;a href='#!/1'&gt;</code>)</li>

</ol>

<h4>Example 9: Events</h4>

<p>When the mouse pointer moves over a DOM element, these events occur in this order:</p>
<ol>
<li>ng-mouseenter</li>
<li>ng-mouseover</li>
<li>ng-mousemove</li>
<li>ng-mouseleave</li>
</ol>

<p>These mouse events occur for a mouse click on a DOM element, in this order:</p>
<ol>
<li>ng-mousedown</li>
<li>ng-mouseup</li>
<li>ng-mouseclick</li>
</ol>

<p>Key events:</p>
<ol>
<li>ng-keydown</li>
<li>ng-keyup</li>
<li>ng-keypress</li>
</ol>

<p>Copy/Paste</p>
<ul>
<li>ng-copy</li>
<li>ng-cut</li>
<li>ng-paste</li>
</ul>

<p>Other events:</p>
<ul>
<li>ng-blur</li>
<li>ng-focus</li>
<li>ng-change</li>
<li>ng-click</li>
<li>ng-dblclick</li>
</ul>

<p>[TODO]</p>

<h4>Example 10: Services</h4>

<ul>
<li><code>$location</code> Service:</li>
<li><code>$timeout</code> Service:</li>
<li><code>$interval</code> Service:</li>
</ul>

<p>[TODO]</p>

<h4>Example 11: With Bootstrap</h4>
<p>[TODO]</p>

<h4>Example 12: Separating Model, View and Controller (MVC)</h4>
<p>[TODO]</p>

<h4>Example 13: Unit Testing via Karma and End-to-end testing via Protractor</h4>
<p>[TODO]</p>

<!-- @@ start change in v1 -->
<a class="references" href="../howto/References.html#">REFERENCES &amp; RESOURCES</a>

<ol>
<li>Angular JS mother site @ <a href="https://angularjs.org/">https://angularjs.org/</a>.</li>
</ol>

</div> <!-- End the content-main division -->

<div id="content-footer">
<p>Latest version tested: AngularJS v1.6.3<br>
Last modified: March, 2017</p>
</div>

</div>  <!-- End the wrap-inner division -->

<!-- footer filled by JavaScript -->
<div id="footer" class="header-footer"><p>&nbsp;</p></div>

</div>  <!-- End the wrap-outer division -->
<!-- @@ end change in v1 -->
<!-- @@ start change in v2 -->
<!-- jQuery API and custom JavaScripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="../scripts/programming_notes_v2.js"></script>
<!-- @@ end change in v2 -->
<a href="https://www3.ntu.edu.sg/f61217a453d065015090cd27fd6fb2c2"> </a></body>
</html>
